<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>City</title>
    <link rel="stylesheet" href="/webjars/bootstrap/4.6.0/css/bootstrap.min.css">
    <style type="text/css">
        .odd {
            background-color: lightblue;
        }
        .even {
            background-color: white;
        }
    </style>
</head>
<body>
    <table class="table">
        <tr class="table-primary">
            <td>ID</td>
            <td>NAME</td>
            <td>DISTRICT</td>
            <td>COUNTRYCODE</td>
            <td>POPULATION</td>
        </tr>
        <tr th:each="City, stat:${list}" th:class="${stat.even}?'even':'odd'">
            <td th:text="${City.id}"></td>
            <td th:text="${City.name}"></td>
            <td th:text="${City.district}"></td>
            <td th:text="${City.countrycode}"></td>
            <td th:text="${City.population}"></td>
        </tr>
    </table>
</body>
</html>